/.idea/
/.gradle/
/api/.gradle/
/api/gradlew
/api/gradlew.bat

/services/gradlew
/services/gradlew.bat

/services/composite/.gradle/
/services/composite/build/
/services/composite/out/

/services/product/.gradle/
/services/product/build/
/services/product/out/

/services/recommend/.gradle/
/services/recommend/build/
/services/recommend/out/

/services/review/.gradle/
/services/review/build/
/services/review/out/